executor: docker-node-arm64
resource_class: arm.large
steps:
  - checkout
  - setup-env
  - install-nvm
  - install-pnpm
  - install-packages
  - install-terraform
  - install-doctl
  - login-docker

  - persist_to_workspace:
      root: ~/
      # Persists the docker login
      paths:
        - .docker/config.json
