{
  "presets": [
    "@nrwl/next/babel",
    // Need to to use `css` property for tailwind
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@emotion",
    "macros",
    [
      "import",
      {
        "libraryName": "antd",
        // we disable using less style from antd
        // set to true if we find something to fix LESS
        "style": false
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ],
    [
      "@babel/plugin-proposal-private-methods",
      {
        "loose": false
      }
    ],
    [
      "@babel/plugin-proposal-private-property-in-object",
      {
        "loose": false
      }
    ]
  ]
}
