[Unit]
Description=Enable services on production droplet
After=multi-user.target
ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'systemctl enable consul docker-login docker-consul-template alloy-consul-template alloy verify-first-boot && systemctl start consul verify-first-boot'
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target