#
# Dockerignore has issues with wildcard exclude
# Copy required files only instead in Dockerfiles
#
# Dockeringore is too slow, https://github.com/moby/moby/issues/23470#issuecomment-233581824
#
# Instead copy all required files to directoy, then go from there

# Ignore everything
*

# # Except
!/.env
!/.npmrc
!/nx.json
!/.nxignore
!/eslint.config.mjs
!/package.json
!/pnpm-lock.yaml
!/tsconfig.base.json
!/postcss.config.cjs
!/tailwind.config.ts

!/types
!/apps/web/
!/apps/api/
!/apps/sites/
!/apps/landing/
!/dist/libs/tools/
!/dist/libs/external/
!/libs/
!/data/
!/scripts/tailwind/
!/scripts/eslint/
