#
# Dockerignore has issues with wildcard exclude
# Copy required files only instead in Dockerfiles
#
# Dockeringore is too slow, https://github.com/moby/moby/issues/23470#issuecomment-233581824
#
# Instead copy all required files to directoy, then go from there

# Ignore everything
*

# # Except
!/.env
!/.npmrc
!/nx.json
!/package.json
!/pnpm-lock.yaml
!/tsconfig.base.json
!/postcss.config.js
!/tailwind.config.js

!/types
!/apps/platform/
!/apps/platform-api/
!/dist/libs/tools/
!/libs/
