#
# Used for dev only
#
#DEBUG='@neo4j/graphql:*'

#
# Next
#
NEXT_PUBLIC_WEB_HOST=http://127.0.0.1:3001
NEXT_PUBLIC_API_HOSTNAME=http://127.0.0.1
NEXT_PUBLIC_API_PORT=4001
NEXT_PUBLIC_BASE_API_PATH=/api/v1

#
# Auth0 - Next - those are required by nextjs-auth0 - don't change their names
#
# A long secret value used to encrypt the session cookie
AUTH0_SECRET=
# The url of your Auth0 tenant hooks
AUTH0_DOMAIN=codelab-app-test.us.auth0.com
# Your Auth0 application's Client ID
AUTH0_CLIENT_ID=HiPyR5vYBcMhpydeIzgAzhji5QHXldi7
# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=
# Required for `initAuth0` even though can be drived
AUTH0_AUDIENCE=https://codelab-app-test.us.auth0.com/api/v2/
AUTH0_SESSION_AUTO_SAVE=false