# See http://help.github.com/ignore-files/ for more about ignoring files.

.env
.env.*
!.env.example
!.env.test.example

# compiled output
# Ignore everything in 'dist'
/dist/*

# Don't ignore 'libs' within 'dist'
!/dist/libs/
!/dist/apps/

# Ignore everything in 'dist/libs' except 'tools'
/dist/libs/*
!/dist/libs/tools/

/dist/apps/*
!/dist/apps/cli/

# Ignore everything in 'dist/libs/tools' except 'workspace'
/dist/libs/tools/*
!/dist/libs/tools/eslint-plugin/
!/dist/libs/tools/tsc-check/
!/dist/libs/tools/workspace/

!/dist/libs/external/
/dist/libs/external/*
!/dist/libs/external/codelab-codegen/
/dist/libs/external/codelab-codegen/*
!/dist/libs/external/codelab-codegen/typescript-fetch/
!/dist/libs/external/codelab-codegen/typescript-server-fetch/

tmp/
out-tsc/

# dependencies
node_modules/

# IDEs and editors
.ssh
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# misc
.sass-cache
connect.lock
coverage/
/typings
*.log

# System Files
.DS_Store
Thumbs.db

# Next.js
.next/
.nx/

# Next.js
.next
out
# Sentry Config File
.env.sentry-build-plugin

vite.config.*.timestamp*
.aider*

vitest.config.*.timestamp*