# Need to add this here so when someone tries to use NPM, an error is thrown
engine-strict=true
package-manager-strict=false
strict-ssl=false

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=EE2242B7-FC5E-4CC0-9630-F83CE6524319
