{
  "extends": ["plugin:cypress/recommended", "../../.eslintrc"],
  "parserOptions": {
    "tsconfigRootDir": "./apps/core-e2e",
    "project": ["tsconfig.e2e.json"]
  },
  "overrides": [
    {
      "files": ["src/plugins/index.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off",
        "no-undef": "off"
      }
    }
  ]
}
