[Unit]
Description=Grafana Alloy
Documentation=https://grafana.com/docs/alloy/
After=docker.service consul.service consul-template.service
Wants=docker.service consul.service consul-template.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/alloy run /etc/alloy/config.alloy
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target